[Unit]
Description=ISecL K8S Docker Secure Plugin
Before=docker.service
After=network.target secure-docker-plugin.socket
Requires=secure-docker-plugin.socket docker.service

[Service]
ExecStart=/usr/bin/secure-docker-plugin
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
